<p>You got a new message from <%= @name %>! </p>
<p>
Form details<br>
--------------------------
</p>
<p>Name: <%= @name %></p>
<p>Email: <%= @email %></p>
<p>
Message:<br>
----------
</p>
<p><%= @message %></p>
