<p><%= @question.body %> </p>

<%= button_to 'Удалить вопрос', method: "delete", data: { confirm: 'Are you sure?' } %>

<br>
  <li><%= link_to "Удалить вопрос", tests_path(@questions), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>

