<tr>
  <td><%= gist.user.email %></td>
  <td><%= link_to 'Gist URL', gist.gist_url, class: 'btn btn-link' %></td>
  <td><%= link_to "#{gist.question.body.truncate(25)}", admin_question_path(gist.question_id), class: 'text-primary' %></td>
</tr>
