<div class="container d-flex flex-column align-items-center my-5">
  <h2 class="text-center mb-4">Свяжитесь с нами</h2>
  <div class="col-md-6">
    <form class="d-flex flex-column align-items-center">
      <div class="mb-3 w-100">
        <label for="name" class="form-label">Имя</label>
        <input type="text" class="form-control" id="name" aria-describedby="nameHelp" required>
      </div>
      <div class="mb-3 w-100">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3 w-100">
        <label for="phone" class="form-label">Номер телефона</label>
        <input type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" required>
      </div>
      <div class="mb-3 w-100">
        <label for="message" class="form-label">Сообщение</label>
        <textarea class="form-control" id="message" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>
</div>
