/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*Шапка*/

body {
  margin: 0;
  background-color: rgb(242, 245, 244);
  min-height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 144, 209);
  padding: 20px 30px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  /*убираем пустые промежутки между ячейками*/
  border: 1px solid grey;
  /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 1px*/
  width: 600px;
  margin: 10px;
}

td, tr {
  border: 1px solid rgb(44, 128, 206);
  width: 30%;
}

.tablestyle button {
  height: 25px;
  width: 60px;
  font-size: 15px;
}

.container a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: underline;
}

.container a:hover{
  color: rgb(5, 5, 5)
}

.container img {
  width: 50px;
}

.container a.logo {
  font-size: 25px;
  padding: 0 !important;
}

.content{
  text-align: center;
}

.informtextdiv p{
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.main-div-table{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-table{
  text-decoration: underline;
  font-weight: bold;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(65, 144, 209);
  padding: 20px 30px;
  box-sizing: border-box;
}

.left-footer-a, .right-footer-a, .center-footer {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

}

.right-footer-a{
  text-decoration: underline;
}

.footer-container a:visited{
  color: rgb(14, 14, 15);
}

.center-footer a:hover{
  color: aliceblue;
}

.right-footer a:hover{
  color: aliceblue;
}

.devisenew{
  margin-left: 20px;
}
