@import "bootstrap";
@import "test_passages";
@import "flash";


/* Ссылка в хидере */
.navbar-link{
  font-size: 20px;
  font-weight: bold;
}

/* Ссылка в хидере после */
.navbar-link li a::after{
  content: '';
  display: block;
  width: 100%;
  background-color: white;
  height: 1px;
  transition: all .3s;
  transform: scale(0);
}

/* Ссылка в хидере после навидения */
.navbar-link li a:hover::after{
  transform: scale(1);
}

/* Кнопка в хидере */
.btn-size{
  font-weight: bold;
}

/* Размер так называемой икнонки в хидере */
.logo img{
  width: 50px;
}

/* отделная ячейка для какой-либо информации */
.informtext{
  text-align: center;
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.testpassinfo, .testpasscontainer, .resultinfo{
  text-align: center;
}

.page-title{
  text-align: center;
  padding-top: 20px;
}
