@import "bootstrap";

.lang-btn{
  color: white;
  border: 1px solid white;
}

.image-div img{
  width: 50px;
}
.navbar-brand{
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.3s ease;
}

.navbar-brand:hover{
  color: blue;
  transform: scale(1.2);
}
