.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

.green {
  color: green;
}

.red {
  color: red;
}

.passedpassword, .failedpassword {
  display: none;
}

.confirm-disable {
  pointer-events: none;
  opacity: 0.3;
}
