// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.passed {
  font-weight: bold;
  color: green
}

.not-passed {
  font-weight: bold;
  color: red
}

.resulttestpass{
  margin-left: 20px;
}

.testpasscontainer{
  margin-left: 20px;
}
