<h1><%= t('.header') %></h1>
<% if user_signed_in? %>
  <%= link_to 'New test', new_admin_test_path %>
</p>
<% else %>
  <p><%= link_to 'New test', new_admin_test_path, data: { confirm: 'Please log in first'} %></p>
<% end %>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Number of questions</th>
    <th colspan="4">Actions</th>
  </tr>

    <%= render @tests %>
</table>
