<main class="content">
  <div class="informtextdiv">
    <p><%= t('tests.index.header') %></p>
  </div>

  <div class="main-div-table">
    <table class="tablestyle">
      <tr>
        <td>Test</td>
        <td>Level</td>
        <td>Number of questions</td>
        <td>Actions</td>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</main>
