    <header>
      <div class="logo">
        <a href="/">
          <img src="https://bureau.ru/soviet/130568/files/logo.svg" width="60" height="60px" />
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Все тесты</a></li>
          <li><a href="#">О проекте</a></li>
          <li><a href="#">Вход</a></li>
        </ul>
      </nav>
    </header>
