    <header>
      <nav class="menu">
        <ul>
          <%= link_to 'TestGuru', root_path %>
          <%= link_to 'Все тесты', tests_path %>
          <a href="#">О проекте</a>
          <%#if logged_in?%>
            <a><%#= link_to 'Выход', logout_path, method: :delete, data: { confirm: 'Вы уверены?' } %></a>
          <%#else%>
            <a><%#= link_to 'Регистрация', signup_path %></a>
            <a><%#= link_to 'Войти', login_path %></a>
          <%#end%>
        </ul>
      </nav>
    </header>
